// Override this file to add your own SCSS styling.
/* Animate text coming from right */

  .avatar {
    border-radius: 0;    // Ensures corners are not rounded
    clip-path: none;     // Removes any clip-path shaping
    border: 2px solid black;  // Adds a black border, 2 pixels wide
  }

  .home-section {
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
  }